<p>azureresourcedemo works!</p>
<html>
<p>
    Virtual Machine( Windows)
    Created an Windows Virtual Machine and Configured IIS
    Installed Necessary Packages into the vm
    Published the Dotnet Project to Virtual VM created
    Virtual Machine( Linux)
    Created an Linux Virtual Machine
    Installed Necessary Packages into the vm
    Published the Dotnet Project to Virtual VM created
    Docker and Containarisation
    Downloaded the Docker for windows and downloaded ubuntu and made Windows Subsystem for Linux
    created some sample Application in the dotnet
    Using the Docker File tried deploying the created application as image to docker hub
    Downloaded the image and deployed the same Azure Linux Virtual Machine created.
    Using the Docker File tried deploying the created application as image to Azure Container Registry
    From Azure Container Registry deployed the App to Azure Container instance.
    Azure Key Vault
    Created sample Application how to create Secret via console Application
    Created sample Application how to create Key
    Learnt How to provide access to Application Object or to the User
    RBAC access vs Access Keys [fine level access restriction]
    Azure AD
    Created few user
    Worked how to give access to resource to Another user
    How to use Application Object as Role and grant access and how to make application have access instead of the Connection strings
    RBAC access vs Access Keys [fine level access restriction]
</p>
</html>
